version: 2
updates:

  # Currently disabled
  # # Maven dependencies update
  # - package-ecosystem: "maven"
  #   directories:
  #     - "/"
  #   schedule:
  #     interval: "weekly"
  #   ignore:
  #     - dependency-name: "org.apache.maven.plugins:maven-source-plugin"
  #       versions: [ "4.x" ] # Ignore actual betas

  # Git actions update
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
