spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/testdb
    username: postgres
    password: password
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
      
logging:
  level:
    io.github.acoboh: trace
    net.ttddyy.dsproxy: debug